
@import "fonts.css";
@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";


$main_font: '20 Kopeek', sans-serif;
$h1_color: black;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.height-100 {
  height: 100vh;
}

.btn {

  padding: 23px 47px;
  transition: 0.33s;

  &:hover {
    transform: scale(1.05);
    transition: 0.33s;
    text-decoration: none;
  }
}
body{
  font-family: $main_font;
}



.navbar-collapse.justify-content-end.align-items-center.collapse.show {
  @include max-screen(991px) {
    position: relative;
    .navbar-nav {
      display: flex;
      align-items: center;
      margin: 0;
      .nav-item {
        margin-bottom: 20px;
        &:nth-child(3) {
          margin-right: 24px;
        }
      }
    }
  }
}

header {
  z-index: 4;
  .container {
    max-width: 1110px;
    padding: 0;
    nav {
      padding: 0;
      .navbar-brand {
        max-width: 84px;
        margin: 31px 22px 0 0;
        padding: 0;
        img {
          width: 100%;
          display: block;
        }
      }
      p {
        @include max-screen(350px) {
          font-size: 12px;
        }
        margin-top: 36px;
        font-family: "20 Kopeek", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        line-height: 120%;
        color: #FFFFFF;
      }
      button {
        margin-top: 32px;
      }
      #navbarSupportedContent {
        margin-top: 32px;
        .navbar-nav {
          .nav-item {
            &:nth-child(1) {
              max-width: 204px;
              border: solid 1px white;
              border-radius: 15px;
              padding: 7px 27px 7px 33px;
              margin-right: 23px;
            }
            .nav-link {
              padding: 0;
              &:nth-child(1) {
                font-family: "20 Kopeek", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
              }
            }
            &:nth-child(2) {
              margin-right: 23px;
            }
          }
        }
      }
    }
  }
}


.main_section {
  height: 100vh;
  .h-100 {
    height: 100vh;
  }
  .position-absolute {
    z-index: 3;
  }
  .slide-one.owl-carousel .owl-nav, .slide-one.owl-carousel .owl-dots {
    display: none;
  }
  h1 {
    color: $h1_color;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 30px;
  }
  h3 {
    font-family: $main_font;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 88px;
  }
  .main_banner {
    background-size: cover;
    height: 99.9vh;
    &.item1 {
      background-image: url(../img/banner.jpg);
    }
    &.item2 {
      background-image: url(../img/banner_2.jpg);
    }
    &.item3 {
      background-image: url(../img/banner_3.jpg);
    }
    &.item4 {
      background-image: url(../img/banner_4.jpg);
    }
  }
}

.company_style {
  padding: 68px 0 134px;
  h3{
    font-size: 38px;
  }
  &_last_p {
    background-color: #2B59C3;
    padding: 11px 13px;
    margin-left: -13px;
    border-radius: 5px;
  }
}

.logos_and_names {
  p {
    margin-bottom: 0;
  }
  h2{
    font-size: 55px;
  }
  .logos_item {
    top: -42px;
    font-size: 55px;
    font-family: $main_font;
  }
  .logos_item2 {
    font-family: $main_font;
    font-size: 15px;
    padding: 0;
  }
}

.portfolio {
  padding: 0 0 100px;
  h3{
    font-size: 45px;
  }
  div.row {
    margin-bottom: 100px;
    &:last-of-type {
      margin: 0 0 53px;
    }
    div {
      padding: 0;
    }
  }
  a {
    margin-left: 59px;
    text-decoration: none;
    &:last-of-type {
      margin: 0;
    }
  }
  p {
    margin: 0;
  }
  .showmore {
    position: relative;
    right: 170px;
    @include max-screen(1199px) {
      right: 130px;
    }
    @include max-screen(991px) {
      left: 110px;
    }
    @include max-screen(575px) {
      position: static;
    }
  }
}

.present {
  padding-bottom: 77px;
  .present_first_p{
    background-color: #2B59C3;
    padding: 11px 23px 18px 14px;
    border-radius: 5px;
    margin-left: -11px;
    & span{
      font-size: 26px;
    }
  }
  h4{
    font-size: 38px;
  }
}

.form_call_back {
  h3{
    font-size: 38px;
  }
  .form-check {
    padding-left: 36px;
  }
  padding-bottom: 150px;
}